* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #0052d4;
  background: -webkit-linear-gradient(to right, #6fb1fc, #4364f7, #0052d4);
  background: linear-gradient(to right, #6fb1fc, #4364f7, #0052d4);
}
.container h1 {
  font-family: "Alfa Slab One", cursive;
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
  color: navy;
  text-align: center;
  margin-bottom: 20px;
}
.container p {
  color: red;
}
.container {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: white;
  max-width: 360px;
  margin: 0 auto 100px;
  margin-top: 5%;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.submit {
  margin: 0;
  width: 200px;
  align-self: center;
  text-align: center;
  background-color: #3897f0;
  border: 1px solid #3897f0;
  padding: 5px 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}
.Email,
.Password {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px 12px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
}

.login__icon {
  position: absolute;
  top: 30px;
  color: #7875b5;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
