.nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 20px;
  padding: 30px 25px;
  justify-content: space-between;
}

.nav h3 {
  color: red;
  cursor: pointer;
}

.nav-items {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-items > li {
  padding: 10px;
  color: white;
}

.profile-pic {
  font-size: 30px;
  text-align: center;
  background: darkblue;
  font-weight: 800;
  cursor: pointer;
  outline: royalblue 2px solid;
}

.profile-name {
  font-size: 30px;
  text-align: center;
}

.post-list {
  display: grid;
  grid-gap: 10px;
  grid-template: auto auto / repeat(3, 1fr);
  padding: 10px;
}

.posts-display {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  max-width: 700px;
  height: 300px;
  margin: auto;
  font-family: arial;
  margin-top: 90px;
  align-items: center;
}

.posts-display h4 {
  text-align: center;
  margin-top: 20px;
  color: #2d3436;
}

.posts-display h3 {
  padding: 10px;
  color: #4a69bd;
}

.posts-display p {
  text-align: center;
  justify-content: center;
  margin-top: 60px;
  color: #636e72;
}
.view-post-buttton {
  display: block;
  width: 100%;
  margin-top: 77px;
  border: none;
  background-color: #182c61;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: white;
  font-weight: bold;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin-block: 2rem;
  border-radius: 12px;
  gap: 2rem;
  background: white;
  outline: 3px solid #182c61;
}

.card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-body h5 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #2d3436;
}

.card-body p {
  font-size: 1rem;
}

.card-footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: 0.5rem;
}

.user-info h6 {
  font-size: 1rem;
}

.user-info p {
  text-align: center;
  text-decoration: underline;
  font-weight: bolder;
  color: #182c61;
  cursor: pointer;
}

.postdetails {
  background-color: white;
  padding: 15px;
}

.postdetails h3 {
  margin-top: 10px;
  text-align: center;
}

.postdetails h4 {
  margin-top: 10px;
  text-align: center;
}

.postdetails h5 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.commentItems p {
  margin-top: 5px;
}

.commentbox {
  padding: 12px 12px;
  box-sizing: border-box;
}

.postcomments {
  list-style-type: none;
}

.postcomments li {
  background: #cce5ff;
  color: darblue;
  margin: 5px;
  margin-top: 10px;
  font-size: large;
}
